---
import { Icon } from 'astro-icon/components';
---

<a href="https://github.com/shallow90125" target="_blank">
	<Icon name="github" size={24} />
</a>
<a href="https://zenn.dev/shallow90125" target="_blank">
	<Icon name="zenn" size={24} />
</a>
<a href="https://twitter.com/shallow90125" target="_blank">
	<Icon name="twitter" size={24} />
</a>
